.student {
    width: 80%;
    margin: 20px auto ;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    padding-bottom: 20px;
}

.student label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.student input {
    width: 80%;
    height: 30px;
    padding: 5px;
    direction: rtl;
    border: none;
    border-bottom: 2px solid black;
}

input[type=tel],input[type=email],input[type=number] {
    direction: ltr;
}

@media(min-width: 500px) {
    .student {
        width: 350px;
    }
}
/* #28a745 */
.btn-delete {
    background-color: #dc3545;
    color: white;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}